server-tienda-soap/src/main/resources/server-tienda.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">
    
    <xs:element name="getUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getDomiciliosRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getDomiciliosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="domicilio" type="tns:domicilio" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductoPorIdRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductoPorIdResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="tns:producto" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductosRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="tns:producto" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductosPorIdVendedorRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductosPorIdVendedorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="tns:producto" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductosPorNameRequest">
        <xs:complexType>
            <xs:sequence>
            	<xs:element name="name" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductosPorNameResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="tns:producto" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getProductoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="tns:producto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getCategoriasProductoRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getCategoriasProductoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoriaProducto" type="tns:categoriaProducto" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addProductoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="tns:producto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addProductoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addVentaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="precioTotal" type="xs:decimal"/>
                <xs:element name="idDomicilio" type="xs:long"/>
                <xs:element name="idComprador" type="xs:long"/>
                <xs:element name="idVendedor" type="xs:long"/>
                <xs:element name="idTarjeta" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addVentaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="finalizeVentaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="idVenta" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="finalizeVentaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="updateProductoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="producto" type="tns:producto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="updateProductoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getCuentasBancariasRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getCuentasBancariasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cuentaBancaria" type="tns:cuentaBancaria" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getTarjetasRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="getTarjetasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tarjeta" type="tns:tarjeta" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="updateUsuarioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="tns:usuario"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="updateUsuarioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="loginValRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="usuario" type="xs:string"/>
                <xs:element name="contrasenia" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="loginValResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addDomicilioRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="domicilio" type="tns:domicilio"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addDomicilioResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addCategoriaProductoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="categoriaProducto" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addCategoriaProductoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addTarjetaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tarjeta" type="tns:tarjeta"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addTarjetaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addCuentaBancariaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cuentaBancaria" type="tns:cuentaBancaria"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="addCuentaBancariaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="usuario">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
        	<xs:element name="telefono" type="xs:string" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="apellido" type="xs:string"/>
            <xs:element name="dni" type="xs:string"/>
            <xs:element name="usuario" type="xs:string"/>
            <xs:element name="contrasenia" type="xs:string"/>
            <xs:element name="tipoUsuario" type="tns:tipoUsuario"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="tipoUsuario">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="tipo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="billeteraVirtual">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="saldo" type="xs:decimal"/>
            <xs:element name="vendedor" type="tns:usuario"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="categoriaProducto">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="producto">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="descripcion" type="xs:string"/>
            <xs:element name="imagen" type="xs:string"/>
            <xs:element name="precio" type="xs:decimal"/>
            <xs:element name="stockInicial" type="xs:integer"/>
            <xs:element name="stockActual" type="xs:integer"/>
            <xs:element name="activo" type="xs:boolean"/>
            <xs:element name="categoria" type="tns:categoriaProducto"/>
            <xs:element name="vendedor" type="tns:usuario"/>
            <xs:element name="debito" type="xs:boolean"/>
            <xs:element name="credito" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="categoriaDenuncia">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="denuncia">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="estado" type="xs:string"/>
            <xs:element name="comentarioComprador" type="xs:string"/>
            <xs:element name="comentarioResolucion" type="xs:string"/>
            <xs:element name="comprador" type="tns:usuario"/>
            <xs:element name="mesaAyuda" type="tns:usuario"/>
            <xs:element name="producto" type="tns:producto"/>
            <xs:element name="categoria" type="tns:categoriaDenuncia"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="domicilio">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="calle" type="xs:string"/>
            <xs:element name="numero" type="xs:string"/>
            <xs:element name="piso" type="xs:string"/>
            <xs:element name="departamento" type="xs:string"/>
            <xs:element name="localidad" type="xs:string"/>
            <xs:element name="provincia" type="xs:string"/>
            <xs:element name="pais" type="xs:string"/>
            <xs:element name="comprador" type="tns:usuario"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="reclamo">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="estado" type="xs:string"/>
            <xs:element name="comentarioComprador" type="xs:string"/>
            <xs:element name="comentarioResolucion" type="xs:string"/>
            <xs:element name="fecha" type="xs:date"/>
            <xs:element name="comprador" type="tns:usuario"/>
            <xs:element name="mesaAyuda" type="tns:usuario"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="tarjeta">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="limiteMensual" type="xs:decimal"/>
            <xs:element name="saldo" type="xs:decimal"/>
            <xs:element name="numero" type="xs:string"/>
            <xs:element name="cvc" type="xs:string"/>
            <xs:element name="tipo" type="xs:string"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="vencimiento" type="xs:dateTime"/>
            <xs:element name="comprador" type="tns:usuario"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="cuentaBancaria">
        <xs:sequence>
        	<xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="banco" type="xs:string"/>
            <xs:element name="alias" type="xs:string"/>
            <xs:element name="cvu" type="xs:string"/>
            <xs:element name="dni" type="xs:string"/>
            <xs:element name="movimientos" type="xs:string"/>
            <xs:element name="vendedor" type="tns:usuario"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>